<div class="editorial-sections">
  {% for block in section.blocks %}
    <div class="editorial-section" {{ block.shopify_attributes }}>
      {% case block.type %}
        {% when 'editorial_headline' %}
          {% render 'section-editorial-headline', block: block %}
        {% when 'editorial_single_image' %}
          {% render 'section-editorial-single-image', block: block %}
        {% when 'editorial_double_image' %}
          {% render 'section-editorial-double-image', block: block %}
        {% when 'editorial_quote' %}
          {% render 'section-editorial-quote', block: block %}
        {% when 'editorial_image_text' %}
          {% render 'section-editorial-image-text', block: block %}
      {% endcase %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Editorial Sections",
  "blocks": [
    {
      "type": "editorial_headline",
      "name": "Editorial Headline",
      "limit": 1
    },
    {
      "type": "editorial_single_image",
      "name": "Editorial Single Image"
    },
    {
      "type": "editorial_double_image",
      "name": "Editorial Double Image"
    },
    {
      "type": "editorial_quote",
      "name": "Editorial Quote"
    },
    {
      "type": "editorial_image_text",
      "name": "Editorial Image and Text"
    }
  ],
  "presets": [
    {
      "name": "Editorial Sections",
      "blocks": [
        {
          "type": "editorial_headline"
        }
      ]
    }
  ]
}
{% endschema %}