{{ 'section-editorial-single-image.css' | asset_url | stylesheet_tag }}

<div class="section-editorial-single-image">
  <div class="section-editorial-single-image__content content-container">
    {% if block.settings.image != blank %}
      <div class="section-editorial-single-image__image-container {% if block.settings.image.aspect_ratio > 1 %}landscape{% else %}portrait{% endif %}">
        {{ block.settings.image | image_url: width: 1500 | image_tag:
          loading: 'lazy',
          class: "section-editorial-single-image__image",
          sizes: "100vw",
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          alt: block.settings.image.alt | default: block.settings.caption | default: 'Editorial image'
        }}
      </div>
    {% endif %}
    {% if block.settings.caption != blank %}
      <p class="section-editorial-single-image__caption">{{ block.settings.caption | upcase }}</p>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Editorial Single Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image alt text (optional)"
    }
  ]
}
{% endschema %}