{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-home-featured-products.css' | asset_url | stylesheet_tag }}

<div class="section-home-featured-products
            {% if section.settings.padding_top_enabled %}section-home-featured-products--padding-top{% endif %}
            {% if section.settings.padding_bottom_enabled %}section-home-featured-products--padding-bottom{% endif %}
            {% if section.settings.padding_horizontal_enabled %}section-home-featured-products--padding-horizontal{% endif %}">
  <ul id="product-grid" 
      data-id="{{ section.id }}"
      class="
        grid product-grid grid--2-col-tablet-down
        grid--2-col-desktop
      ">
    {% for i in (1..2) %}
      {%- assign product_key = 'product_' | append: i -%}
      {%- assign product = section.settings[product_key] -%}
      {% if product != blank %}
        <li class="grid__item">
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            show_quick_add: section.settings.enable_quick_add,
            section_id: section.id
          %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Home Featured Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product_1",
      "label": "Featured Product 1"
    },
    {
      "type": "product",
      "id": "product_2",
      "label": "Featured Product 2"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show secondary image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show product vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show product rating"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "Enable quick add"
    },
    {
      "type": "checkbox",
      "id": "padding_top_enabled",
      "label": "Enable top padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "padding_bottom_enabled",
      "label": "Enable bottom padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "padding_horizontal_enabled",
      "label": "Enable horizontal padding",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}