{{ 'section-editorial-common.css' | asset_url | stylesheet_tag }}
{{ 'section-editorial-quote.css' | asset_url | stylesheet_tag }}

<div class="editorial-quote editorial-section background-color-ebe2d9
            {% if section.settings.add_top_padding %}padding-top-6{% endif %}
            {% if section.settings.add_bottom_padding %}padding-bottom-6{% endif %}">
  <div class="content-wrapper">
    <div class="quote-container">
      <h2 class="quote {{ section.settings.heading_size }}">{{ section.settings.quote }}</h2>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Editorial Quote",
  "settings": [
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "T2"
        },
        {
          "value": "h1",
          "label": "T1"
        },
        {
          "value": "h0",
          "label": "T0"
        }
      ],
      "default": "h1",
      "label": "Quote size"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "checkbox",
      "id": "add_top_padding",
      "label": "Add top padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "add_bottom_padding",
      "label": "Add bottom padding",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Editorial Quote",
      "category": "Editorial"
    }
  ]
}
{% endschema %}