<div class="editorial-headline">
  <h1>{{ block.settings.headline }}</h1>
</div>

{% schema %}
{
  "name": "Editorial Headline",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline"
    }
  ]
}
{% endschema %}