{{ 'section-editorial-headline.css' | asset_url | stylesheet_tag }}

<div class="editorial-headline background-color-ebe2d9">
  <div class="content-wrapper">
    <h1 class="headline text-center headline-large">{{ section.settings.headline }}</h1>
  </div>
</div>

{% schema %}
{
  "name": "Editorial Headline",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline"
    }
  ],
  "presets": [
    {
      "name": "Editorial Headline",
      "category": "Editorial"
    }
  ]
}
{% endschema %}