{{ 'section-editorial-quote.css' | asset_url | stylesheet_tag }}

<div class="section-editorial-quote background-{{ block.settings.background_color }}" style="height: 100vh;">
  <div class="section-editorial-quote__content content-container">
    {% if block.settings.quote != blank %}
      <blockquote class="section-editorial-quote__text {{ block.settings.quote_size }}" style="font-style: italic;">
        {{ block.settings.quote }}
      </blockquote>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Editorial Quote",
  "settings": [
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote",
      "default": "<p>Your quote here</p>"
    },
    {
      "type": "select",
      "id": "quote_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Quote size"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "none",
          "label": "No background"
        },
        {
          "value": "color-1",
          "label": "Color 1"
        },
        {
          "value": "color-2",
          "label": "Color 2"
        },
        {
          "value": "color-3",
          "label": "Color 3"
        }
      ],
      "default": "none",
      "label": "Background color"
    }
  ]
}
{% endschema %}