{{ 'section-editorial-common.css' | asset_url | stylesheet_tag }}
{{ 'section-editorial-headline.css' | asset_url | stylesheet_tag }}

<div class="editorial-headline background-color-ebe2d9
            {% if section.settings.add_top_padding %}padding-top-6{% endif %}
            {% if section.settings.add_bottom_padding %}padding-bottom-6{% endif %}">
  <div class="content-wrapper">
    <h1 class="headline text-center headline-large headline-36px">{{ section.settings.headline }}</h1>
  </div>
</div>

{% schema %}
{
  "name": "Editorial Headline",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline"
    },
    {
      "type": "checkbox",
      "id": "add_top_padding",
      "label": "Add top padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "add_bottom_padding",
      "label": "Add bottom padding",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Editorial Headline",
      "category": "Editorial"
    }
  ]
}
{% endschema %}