{{ 'section-bespoke.css' | asset_url | stylesheet_tag }}

<div class="stof-container section-bespoke-2">
  <div class="stof-content">
    <div class="stof-item stof-item--half">
      {% for i in (1..2) %}
        <div class="stof-card">
          {%- if section.settings['image_' | append: i] != blank -%}
            {{ section.settings['image_' | append: i] | image_url: width: 1420 | image_tag: loading: 'lazy', class: 'stof-card__image' }}
          {%- endif -%}
          {%- if section.settings['caption_headline_' | append: i] != blank -%}
            <h3 class="caption-headline">{{ section.settings['caption_headline_' | append: i] | escape }}</h3>
          {%- endif -%}
          {%- if section.settings['text_' | append: i] != blank -%}
            <div class="rte new-caledonia">{{ section.settings['text_' | append: i] }}</div>
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="stof-arrow"></div>
</div>

{% schema %}
{
  "name": "Bespoke 2",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "caption_headline_1",
      "label": "Caption Headline 1"
    },
    {
      "type": "richtext",
      "id": "text_1",
      "label": "Text 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "caption_headline_2",
      "label": "Caption Headline 2"
    },
    {
      "type": "richtext",
      "id": "text_2",
      "label": "Text 2"
    }
  ],
  "presets": [
    {
      "name": "Bespoke 2"
    }
  ]
}
{% endschema %}