{{ 'section-editorial-headline.css' | asset_url | stylesheet_tag }}

<div class="editorial-section section-editorial-headline background-{{ section.settings.background_color }}">
  <div class="editorial-section__inner section-editorial-headline__content">
    {% if section.settings.headline != blank %}
      <h2 class="section-editorial-headline__text {{ section.settings.heading_size }}">
        {{ section.settings.headline }}
      </h2>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Editorial Headline",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Your headline here"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "none",
          "label": "No background"
        },
        {
          "value": "color-1",
          "label": "Color 1"
        },
        {
          "value": "color-2",
          "label": "Color 2"
        },
        {
          "value": "color-3",
          "label": "Color 3"
        }
      ],
      "default": "none",
      "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": "Editorial Headline",
      "category": "Editorial"
    }
  ]
}
{% endschema %}