{{ 'section-editorial-headline.css' | asset_url | stylesheet_tag }}

<div class="section-editorial-headline">
  <div class="section-editorial-headline__content content-container">
    {% if section.settings.headline != blank %}
      <h2 class="section-editorial-headline__text {{ section.settings.heading_size }}">
        {{ section.settings.headline }}
      </h2>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Editorial Headline",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Your headline here"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    }
  ],
  "presets": [
    {
      "name": "Editorial Headline",
      "category": "Editorial"
    }
  ]
}
{% endschema %}