body.template-collection {
  background: #B0977B !important;
}

.collection-made-to-order-bg {
  background-color: #B0977B !important;
}

.made-to-order,
.made-to-order .collection-hero,
.made-to-order .collection.page-width,
.made-to-order .collection-hero__inner,
.made-to-order .collection-hero__description,
.made-to-order .product-grid-container,
.made-to-order #product-grid {
  background: none !important;
} 

.made-to-order-grid-container {
  background-color: #B0977B !important;
}

.product-grid-container-made-to-order {
  background-color: #B0977B !important;
  padding-bottom: 2rem !important;
}

.product-grid-container-made-to-order:has(+ .collection-made-to-order-bg) {
  padding-bottom: 8rem !important;
}

main > .product-grid-container-made-to-order {
  padding-bottom: 2rem !important;
}
main > .product-grid-container-made-to-order:last-of-type {
  padding-bottom: 8rem !important;
}

.made-to-order-grid-container .collection-hero__title {
  text-align: left !important;
  font-weight: 700 !important;
  font-size: 12px !important;
}

.collection-hero.color-background-1.gradient {
  background-color: #B0977B !important;
}

.product-grid-container-made-to-order .collection-hero__title {
  margin-top: 0 !important;
}

.card-product, .card, .card__media {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.header__submenu,
.list-menu--disclosure,
.header.scrolled,
.header__submenu.scrolled,
.list-menu--disclosure.scrolled {
  background-color: #B0977B !important;
}

.background-warm-beige {
  background-color: #B0977B !important;
}

body.submenu-bg-onload .header__submenu.list-menu {
  background-color: #B0977B !important;
}

/* Style the "Load more" button to match the "Add to Cart" button */
#eg-infinite-pagination .button {
  background: #2A1B12 !important; 
  color: #fff !important;
  border-color: #2A1B12 !important;
  font-weight: 700 !important;
}

.made-to-order .collection-hero__description, .made-to-order .collection-hero__description p {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.collection-hero__description,
.collection-hero__description p {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}