.home-section-split__grid {
  display: flex;
  align-items: stretch;
}

.home-section-split__media-item,
.home-section-split__text-item {
  width: 50%;
}

.home-section-split__media-item--right {
  order: 1;
}

.home-section-split__media {
  height: 100%;
  position: relative;
}

.home-section-split__media-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-section-split__content {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.home-section-split__eyebrow {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.home-section-split__heading {
  margin-bottom: 2rem;
  font-style: italic;
}

.home-section-split__heading.h0 {
  font-size: calc(var(--font-heading-scale) * 4rem);
}

.home-section-split__heading.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}

.home-section-split__heading.h2 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

.home-section-split__button-wrapper {
  display: flex;
}

.home-section-split__button-wrapper .button {
  min-width: fit-content;
}

@media screen and (max-width: 749px) {
  .home-section-split__grid {
    flex-direction: column;
  }

  .home-section-split__media-item,
  .home-section-split__text-item {
    width: 100%;
  }

  .home-section-split__media-item--right {
    order: 0;
  }

  .home-section-split__content {
    padding: 3rem 1.5rem;
  }

  .home-section-split__heading.h0 {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }

  .home-section-split__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }

  .home-section-split__heading.h2 {
    font-size: calc(var(--font-heading-scale) * 1.75rem);
  }
}