.bespoke-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  width: 60vw;
  max-width: 950px;
  margin: 0 auto;
}

.bespoke-item {
  grid-column: span 1;
}

.bespoke-item--centered {
  grid-column: 1 / -1;
  justify-self: center;
  width: 50%;
}

.bespoke-item__image-wrapper {
  margin-bottom: 1rem;
}

.bespoke-item__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bespoke-item__headline {
  font-family: 'Pitch', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.bespoke-item__text {
  font-family: 'New Caledonia', serif;
  line-height: 1.15;
}

@media screen and (max-width: 749px) {
  .bespoke-grid {
    grid-template-columns: 1fr;
    width: 90vw;
    gap: 4rem;
  }

  .bespoke-item--centered {
    width: 100%;
  }
}