.featured-products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.featured-product-card {
  flex: 0 0 calc(50% - 1.5rem);
  max-width: calc(50% - 1.5rem);
}

.section__title {
  margin-bottom: 3rem;
  text-align: center;
}

@media screen and (max-width: 749px) {
  .featured-products-grid {
    flex-direction: column;
    gap: 2rem;
  }

  .featured-product-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}