.editorial-image-with-text {
  width: 100vw;
  background-color: #EBE2D9;
}

.editorial-image-with-text__content-wrapper {
  width: 80vw;
  max-width: 1240px;
  margin: 0 auto;
}

.editorial-image-with-text__container {
  display: flex;
  align-items: flex-start; /* Changed from center to flex-start */
}

.editorial-image-with-text__image-container,
.editorial-image-with-text__text-container {
  flex: 1;
  width: 50%;
}

.editorial-image-with-text__image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.editorial-image-with-text__heading {
  font-family: 'new-caledonia', serif;
  margin: 0;
  padding: 0 2rem;
  font-style: italic; /* Added italic style */
}

.editorial-image-with-text__image-second {
  flex-direction: row-reverse;
}

@media screen and (max-width: 749px) {
  .editorial-image-with-text__container {
    flex-direction: column;
  }

  .editorial-image-with-text__image-container,
  .editorial-image-with-text__text-container {
    width: 100%;
  }

  .editorial-image-with-text__heading {
    padding: 2rem 0;
  }

  .editorial-image-with-text__image-second {
    flex-direction: column;
  }
}

/* Background color classes */
.editorial-image-with-text--background-none {
  background-color: transparent;
}

.editorial-image-with-text--background-color-1 {
  background-color: #EBE2D9;
}

.editorial-image-with-text--background-color-2 {
  background-color: #B0977B;
}

.editorial-image-with-text--background-color-3 {
  background-color: #95794A;
}