.section-editorial-headline {
  padding: 4rem 0;
}

.section-editorial-headline__content {
  max-width: 800px;
  margin: 0 auto;
}

.section-editorial-headline__text {
  font-family: 'new-caledonia', serif;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
}

.section-editorial-headline__text.h0 {
  font-size: 3.5rem;
}

.section-editorial-headline__text.h1 {
  font-size: 3rem;
}

.section-editorial-headline__text.h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 749px) {
  .section-editorial-headline__text.h0 {
    font-size: 2.5rem;
  }

  .section-editorial-headline__text.h1 {
    font-size: 2rem;
  }

  .section-editorial-headline__text.h2 {
    font-size: 1.75rem;
  }
}