.custom-center-column {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.stof-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  width: 60vw;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.stof-list__item {
  grid-column: span 1;
}

.stof-list__item:nth-child(1),
.stof-list__item:nth-child(4) {
  grid-column: 1 / -1;
  justify-self: center;
  width: 50%;
}

.custom-headline-container {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 6rem;
}

.custom-headline-container .title {
  display: inline-block;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.stof-card__image-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.stof-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.stof-card__info {
  margin-top: 1rem;
}

.caption-headline {
  font-size: 16px;
  font-family: 'Pitch', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.rte.new-caledonia {
  font-family: 'New Caledonia', serif;
  line-height: 1.15;
}

@media screen and (max-width: 749px) {
  .stof-list {
    grid-template-columns: 1fr;
    width: 90vw;
    gap: 4rem;
  }

  .stof-list__item:nth-child(1),
  .stof-list__item:nth-child(4) {
    width: 100%;
  }
}