.section-editorial-image-text {
  padding: 4rem 0;
}

.section-editorial-image-text__grid {
  display: flex;
  align-items: center;
}

.section-editorial-image-text__grid--reverse {
  flex-direction: row-reverse;
}

.section-editorial-image-text__image-container,
.section-editorial-image-text__text-container {
  flex: 1;
}

.section-editorial-image-text__image {
  width: 100%;
  height: auto;
}

.section-editorial-image-text__text-container {
  padding: 2rem 4rem;
}

.section-editorial-image-text__heading {
  font-family: 'new-caledonia', serif;
  font-style: italic;
}

.section-editorial-image-text__heading.h0 {
  font-size: 3.5rem;
}

.section-editorial-image-text__heading.h1 {
  font-size: 3rem;
}

.section-editorial-image-text__heading.h2 {
  font-size: 2.5rem;
}

.background-none {
  background-color: transparent;
}

.background-color-1 {
  background-color: var(--color-1);
}

.background-color-2 {
  background-color: var(--color-2);
}

.background-color-3 {
  background-color: var(--color-3);
}

@media screen and (max-width: 749px) {
  .section-editorial-image-text__grid,
  .section-editorial-image-text__grid--reverse {
    flex-direction: column;
  }

  .section-editorial-image-text__text-container {
    padding: 2rem 1rem;
  }

  .section-editorial-image-text__heading.h0 {
    font-size: 2.5rem;
  }

  .section-editorial-image-text__heading.h1 {
    font-size: 2rem;
  }

  .section-editorial-image-text__heading.h2 {
    font-size: 1.75rem;
  }
}