.editorial-headline {
  width: 100vw;
  background-color: #EBE2D9;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.content-wrapper {
  width: 80vw;
  max-width: 1240px;
  margin: 0 auto;
}

.headline {
  font-style: italic;
  max-width: 550px;  /* Changed from 600px to 550px */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.headline-large {
  font-size: 1.25em;  /* Increase font size by 25% */
}

.text-center {
  text-align: center;
}