.editorial-single-image {
  width: 100vw;
  background-color: #EBE2D9;
}

.content-wrapper {
  width: 80vw;
  max-width: 1240px;
  margin: 0 auto;
}

.image-container {
  margin-bottom: 0;
}

.single-image {
  height: auto;
  border-radius: 4px;
}

.single-image.landscape {
  width: 100%;
}

.single-image.portrait {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.caption {
  margin-top: 0.5rem;
  text-align: left;
}

.image-container.portrait {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 749px) {
  .single-image.portrait {
    width: 100%;
  }

  .image-container.portrait {
    width: 100%;
  }
}