.editorial-section {
  width: 100vw;
  background-color: #EBE2D9;
}

.content-wrapper {
  width: 80vw;
  max-width: 1240px;
  margin: 0 auto;
}

.padding-top-6 {
  padding-top: 6rem;
}

.padding-bottom-6 {
  padding-bottom: 6rem;
}