.editorial-double-image {
  width: 100vw;
  background-color: #EBE2D9;
}

.content-wrapper {
  width: 80vw;
  max-width: 1240px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  gap: 3rem;
}

.image-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block; /* Change from default inline */
}

.caption.double-image-caption {
  margin-top: 0.5rem;
  margin-bottom: 0;
}