.editorial-cta {
  width: 100vw;
}

.content-wrapper {
  width: 80vw;
  max-width: 1240px;
  margin: 0 auto;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

.button--secondary {
  min-width: 250px;
}

.editorial-cta--padding-top {
  padding-top: 6rem;
}

.editorial-cta--padding-bottom {
  padding-bottom: 6rem;
}

/* Background color classes */
.background-none {
  background-color: transparent;
}

.background-color-1 {
  background-color: #EBE2D9;
}

.background-color-2 {
  background-color: #B0977B;
}

.background-color-3 {
  background-color: #95794A;
}