{{ 'editorial-template.css' | asset_url | stylesheet_tag }}

<div class="template-editorial">
  <h1 class="visually-hidden">{{ page.title }}</h1>
  <div class="editorial-content">
    <div class="editorial-content__inner">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
  {% section 'editorial-sections' %}
</div>