{{ 'editorial-template.css' | asset_url | stylesheet_tag }}

<div class="template-editorial">
  <h1 class="visually-hidden">{{ page.title }}</h1>
  <div class="page-width">
    {{ page.content }}
  </div>
</div>